@import "tailwindcss";

@theme {
  --color-bg-main: #121417;
  --color-bg-card: #1c1f26;
  --color-bg-header: #181b21;
  --color-pastel-mint: #bbf7d0;
  --color-pastel-lavender: #e9d5ff;
  --color-pastel-rose: #fecaca;
  --color-text-primary: #e2e8f0;
  --color-text-secondary: #94a3b8;
  --color-border-custom: #2d333d;
}